In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
!pip install chart_studio
#from chart_studio.plotly import plot, iplot
from plotly.offline import iplot
import plotly.figure_factory as ff
import chart_studio.plotly as py
import plotly.express as px

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting chart_studio
  Downloading chart_studio-1.1.0-py3-none-any.whl (64 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 64.4/64.4 KB 498.4 kB/s eta 0:00:00
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from chart_studio) (1.15.0)
Collecting retrying>=1.3.3
  Downloading retrying-1.3.4-py3-none-any.whl (11 kB)
Requirement already satisfied: plotly in /usr/local/lib/python3.8/dist-packages (from chart_studio) (5.5.0)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from chart_studio) (2.25.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from plotly->chart_studio) (8.1.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->chart_studio) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->chart_studio) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->chart_studio) (2022.12.7)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->chart_studio) (4.0.0)
Installing collected packages: retrying, chart_studio
Successfully installed chart_studio-1.1.0 retrying-1.3.4

In [ ]:
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
train_data = pd.read_csv(r'/content/drive/MyDrive/Assignments/Case_study_1/train.csv/train.csv')
test_data = pd.read_csv(r'/content/drive/MyDrive/Assignments/Case_study_1/test.csv/test.csv')

In [ ]:
train_data.head()

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
0,999,5,Friday,6.811315e+10,-1,FINANCIAL SERVICES,1000.0
1,30,7,Friday,6.053882e+10,1,SHOES,8931.0
2,30,7,Friday,7.410811e+09,1,PERSONAL CARE,4504.0
3,26,8,Friday,2.238404e+09,2,PAINT AND ACCESSORIES,3565.0
4,26,8,Friday,2.006614e+09,2,PAINT AND ACCESSORIES,1017.0

In [ ]:
print("Train data shape",train_data.shape)
print("Train data",train_data.describe())

Train data shape (641350, 8)
Train data             TripType    VisitNumber           Upc      ScanCount  \
count  641350.000000  641350.000000  6.413500e+05  641350.000000
mean       58.298793   96203.070372  3.042443e+10       1.110433
std       156.655874   55547.558892  9.090777e+10       0.701888
min         3.000000       5.000000  8.340000e+02     -12.000000
25%        27.000000   49321.000000  3.400000e+09       1.000000
50%        39.000000   97101.000000  7.047044e+09       1.000000
75%        40.000000  144358.000000  3.004167e+10       1.000000
max       999.000000  191347.000000  9.789707e+11      71.000000

       FinelineNumber         Return
count   641350.000000  641350.000000
mean      3734.167130       0.023631
std       2775.863251       0.151898
min          0.000000       0.000000
25%       1404.000000       0.000000
50%       3355.000000       0.000000
75%       5501.000000       0.000000
max       9998.000000       1.000000

We can observe from above plot that there are few categories which can be combined, which fall under similar catgeory but are present separately, so we will rename few columns with one column falling in that category.
For eg., MENS WEAR and MENSWEAR; LADIESWEAR and (LADIES SOCKS, PLUS AND MATERNITY, BRAS & SHAPEWEAR); PHARMACY OTC and (PHARMACY RX, HEALTH AND BEAUTY AIDS); COMM BREAD AND BAKERY; INFANT CONSUMABLE HARD LINES and INFANT APPAREL; OPTICAL - FRAMES and OPTICAL - LENSES. This all we will be doing as part of feature engineering. In this way we can club together fields with lesser count and reduce the dimensions.
Before we perform the pd.get_dummies() on department description.

We can observe from above plot that there are few categories which can be combined, which fall under similar catgeory but are present separately, so we will rename few columns with one column falling in that category.
For eg., MENS WEAR and MENSWEAR; LADIESWEAR and (LADIES SOCKS, PLUS AND MATERNITY, BRAS & SHAPEWEAR); PHARMACY OTC and (PHARMACY RX, HEALTH AND BEAUTY AIDS); COMM BREAD AND BAKERY; INFANT CONSUMABLE HARD LINES and INFANT APPAREL; OPTICAL - FRAMES and OPTICAL - LENSES. This all we will be doing as part of feature engineering. In this way we can club together fields with lesser count and reduce the dimensions.
Before we perform the pd.get_dummies() on department description.

We can see above few of the departments are having very less count like SHEER HOSIERY, 
and also as a category, they are not similar to the other major categories

In [ ]:
train_data["DepartmentDescription"] = train_data["DepartmentDescription"].apply(lambda x: str(x).replace("MENSWEAR", "MENS WEAR"))
train_data["DepartmentDescription"] = train_data["DepartmentDescription"].apply(lambda x: str(x).replace("LADIES SOCKS", "LADIESWEAR"))
train_data["DepartmentDescription"] = train_data["DepartmentDescription"].apply(lambda x: str(x).replace("PLUS AND MATERNITY", "LADIESWEAR"))
train_data["DepartmentDescription"] = train_data["DepartmentDescription"].apply(lambda x: str(x).replace("BRAS & SHAPEWEAR", "LADIESWEAR"))
train_data["DepartmentDescription"] = train_data["DepartmentDescription"].apply(lambda x: str(x).replace("PHARMACY RX", "PHARMACY"))
train_data["DepartmentDescription"] = train_data["DepartmentDescription"].apply(lambda x: str(x).replace("PHARMACY OTC", "PHARMACY"))
train_data["DepartmentDescription"] = train_data["DepartmentDescription"].apply(lambda x: str(x).replace("HEALTH AND BEAUTY AIDS", "PHARMACY"))
train_data["DepartmentDescription"] = train_data["DepartmentDescription"].apply(lambda x: str(x).replace("INFANT CONSUMABLE HARD LINES", "INFANT SECTION"))
train_data["DepartmentDescription"] = train_data["DepartmentDescription"].apply(lambda x: str(x).replace("INFANT APPAREL", "INFANT SECTION"))
train_data["DepartmentDescription"] = train_data["DepartmentDescription"].apply(lambda x: str(x).replace("OPTICAL - FRAMES", "OPTICALS"))
train_data["DepartmentDescription"] = train_data["DepartmentDescription"].apply(lambda x: str(x).replace("OPTICAL - LENSES", "OPTICALS"))

In [ ]:
train_data.head()

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber,DepartmentDescription_1-HR PHOTO,DepartmentDescription_ACCESSORIES,DepartmentDescription_AUTOMOTIVE,...,DepartmentDescription_SERVICE DELI,DepartmentDescription_SHEER HOSIERY,DepartmentDescription_SHOES,DepartmentDescription_SLEEPWEAR/FOUNDATIONS,DepartmentDescription_SPORTING GOODS,DepartmentDescription_SWIMWEAR/OUTERWEAR,DepartmentDescription_TOYS,DepartmentDescription_WIRELESS,DepartmentDescription_nan,Return
0,999,5,Friday,6.811315e+10,-1,FINANCIAL SERVICES,1000.0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,30,7,Friday,6.053882e+10,1,SHOES,8931.0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,30,7,Friday,7.410811e+09,1,PERSONAL CARE,4504.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,26,8,Friday,2.238404e+09,2,PAINT AND ACCESSORIES,3565.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,26,8,Friday,2.006614e+09,2,PAINT AND ACCESSORIES,1017.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
preprocessed_train =  pd.DataFrame()

In [ ]:
dept_feature = []
for i in list(pd.get_dummies(train_data[['DepartmentDescription']]).columns):
  dept_feature.append(i)

In [ ]:
for j in dept_feature:
  preprocessed_train[j] = train_data.groupby(['VisitNumber'])[j].sum()

In [ ]:
preprocessed_train.drop('DepartmentDescription_nan',axis=1,inplace=True)

In [ ]:
#Created a new column 'Return' which marks as 1 if scan count is negative
train_data['Return'] = train_data['ScanCount']
train_data.loc[train_data['ScanCount'] > 0, 'Return'] = 0
train_data.loc[train_data['ScanCount'] < 0, 'Return'] = 1

In [ ]:
Upc = train_data.groupby(['VisitNumber'])['Upc'].count()
preprocessed_train['Upc'] = Upc
FinelineNumber = train_data.groupby(['VisitNumber'])['FinelineNumber'].count()
preprocessed_train['FinelineNumber'] = FinelineNumber
Return = train_data.groupby(['VisitNumber'])['Return'].max()
preprocessed_train['Return'] = Return
Weekday = train_data.groupby(['VisitNumber'])['Weekday'].max()
preprocessed_train['Weekday'] = Weekday
TripType = train_data.groupby(['VisitNumber'])['TripType'].max()
preprocessed_train['TripType'] = TripType
ScanCount = train_data.groupby(['VisitNumber'])['ScanCount'].max()
preprocessed_train['ScanCount'] = ScanCount

In [ ]:
train_data.drop(['DepartmentDescription_nan','DepartmentDescription'],axis=1)

In [ ]:
preprocessed_train['Weekday'] = preprocessed_train['Weekday'].apply(lambda x: str(x).replace("Monday", '1'))
preprocessed_train['Weekday'] = preprocessed_train['Weekday'].apply(lambda x:str(x).replace("Tuesday",'2'))
preprocessed_train['Weekday'] = preprocessed_train['Weekday'].apply(lambda x:str(x).replace("Wednesday",'3'))
preprocessed_train['Weekday'] = preprocessed_train['Weekday'].apply(lambda x:str(x).replace("Thursday",'4'))
preprocessed_train['Weekday'] = preprocessed_train['Weekday'].apply(lambda x:str(x).replace("Friday",'5'))
preprocessed_train['Weekday'] = preprocessed_train['Weekday'].apply(lambda x:str(x).replace("Saturday",'6'))
preprocessed_train['Weekday'] = preprocessed_train['Weekday'].apply(lambda x:str(x).replace("Sunday",'7'))

In [ ]:
preprocessed_train

,DepartmentDescription_1-HR PHOTO,DepartmentDescription_ACCESSORIES,DepartmentDescription_AUTOMOTIVE,DepartmentDescription_BAKERY,DepartmentDescription_BATH AND SHOWER,DepartmentDescription_BEAUTY,DepartmentDescription_BEDDING,DepartmentDescription_BOOKS AND MAGAZINES,DepartmentDescription_BOYS WEAR,DepartmentDescription_CAMERAS AND SUPPLIES,...,DepartmentDescription_SPORTING GOODS,DepartmentDescription_SWIMWEAR/OUTERWEAR,DepartmentDescription_TOYS,DepartmentDescription_WIRELESS,Upc,FinelineNumber,Return,Weekday,TripType,ScanCount
VisitNumber,,,,,,,,,,,,,,,,,,,,,
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,5,999,-1
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,2,0,5,30,1
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,22,22,1,5,26,3
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,3,3,0,5,8,1
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,3,3,0,5,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191343,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,7,7,0,7,25,2
191344,0,0,0,0,0,4,0,0,0,0,...,0,0,0,1,5,5,0,7,22,1
191345,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,13,13,0,7,39,2
191346,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,17,17,0,7,39,1
191347,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,2,0,7,8,1

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier, RadiusNeighborsClassifier
from sklearn.metrics import accuracy_score,classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB, BernoulliNB
from sklearn import tree
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from matplotlib import pyplot as plt
%matplotlib inline

In [ ]:
train, test = train_test_split(preprocessed_train, test_size = 0.3)

In [ ]:
y_train = train['TripType']
X_train = train.drop('TripType',axis = 1)
y_test = train['TripType']
X_test = train.drop('TripType',axis = 1)

In [ ]:
knc = KNeighborsClassifier(n_neighbors=5)
knc = knc.fit(np.asarray(X_train), 
                    np.asarray(y_train))

predictions = knc.predict(np.asarray(X_test))

In [ ]:
accuracy_score(y_test,predictions)

0.7030207104567648

In [ ]:
lr = LogisticRegression()
lr.fit(X = np.asarray(X_train), y = np.asarray(y_train))

LogisticRegression()

In [ ]:
predictions_lr = lr.predict(np.asarray(X_test))

In [ ]:
accuracy_score(y_test,predictions_lr)

0.6547908796344687

In [ ]:
svc = svm.SVC(decision_function_shape='ovr')
svc = svc.fit(np.asarray(X_train), np.asarray(y_train))

In [ ]:
predictions_svc = svc.predict(np.asarray(X_test))

In [ ]:
accuracy_score(y_test,predictions_svc)

0.6741724029803945

In [ ]:
dt =  tree.DecisionTreeClassifier()
dt.fit(X = np.asarray(X_train), y = np.asarray(y_train))

DecisionTreeClassifier()

In [ ]:
predictions_dt = dt.predict(np.asarray(X_test))

In [ ]:
accuracy_score(y_test,predictions_dt)

0.9335533290528736

In [ ]:
print(classification_report(y_test, predictions_dt))

              precision    recall  f1-score   support

           3       0.81      0.98      0.88      2517
           4       0.84      0.42      0.56       242
           5       0.89      0.99      0.93      3162
           6       0.87      0.95      0.91       878
           7       0.92      0.94      0.93      4098
           8       0.86      0.93      0.90      8542
           9       0.83      0.91      0.87      6588
          12       0.98      0.94      0.96       188
          14       1.00      1.00      1.00         3
          15       0.99      0.92      0.96       679
          18       0.97      0.86      0.91       380
          19       0.87      0.63      0.73       269
          20       0.97      0.85      0.91       437
          21       1.00      0.95      0.97       466
          22       0.91      0.76      0.83       641
          23       0.83      0.66      0.74        97
          24       0.97      0.94      0.95      1795
          25       0.99      0.96      0.97      2576
          26       0.99      0.88      0.93       351
          27       0.99      0.91      0.95       564
          28       0.96      0.82      0.89       353
          29       0.97      0.76      0.85       307
          30       0.96      0.81      0.88       798
          31       0.82      0.87      0.84       399
          32       0.96      0.95      0.96      1423
          33       0.99      0.98      0.99       922
          34       0.99      0.93      0.96       536
          35       0.97      0.95      0.96      1389
          36       0.99      0.95      0.97      2088
          37       0.99      0.95      0.97      1995
          38       0.98      0.98      0.98      2048
          39       1.00      0.99      1.00      6884
          40       1.00      1.00      1.00      4296
          41       1.00      1.00      1.00       427
          42       1.00      0.99      0.99      1322
          43       1.00      1.00      1.00       616
          44       1.00      1.00      1.00       802
         999       1.00      0.82      0.90      5893

    accuracy                           0.93     66971
   macro avg       0.95      0.90      0.92     66971
weighted avg       0.94      0.93      0.93     66971

In [ ]:
from sklearn import metrics
metrics.confusion_matrix(y_test, predictions_dt)

array([[2456,    0,    0, ...,    0,    0,    0],
       [   0,  102,  139, ...,    0,    0,    0],
       [   2,   12, 3116, ...,    0,    0,    0],
       ...,
       [   0,    0,    0, ...,  615,    0,    0],
       [   0,    0,    0, ...,    0,  802,    0],
       [ 487,    2,   31, ...,    0,    0, 4839]])

In [ ]:
#Random Forest

rf = RandomForestClassifier(n_estimators=100)
rf = rf.fit(np.asarray(X_train), np.asarray(y_train))

In [ ]:
predictions_rf = rf.predict(np.asarray(X_test))

In [ ]:
accuracy_score(y_test,predictions_rf)

0.9335383972167057

In [ ]:
print(classification_report(y_test, predictions_rf))

              precision    recall  f1-score   support

           3       0.81      0.97      0.88      2517
           4       0.96      0.36      0.53       242
           5       0.90      0.97      0.93      3162
           6       0.88      0.93      0.91       878
           7       0.95      0.91      0.93      4098
           8       0.86      0.93      0.90      8542
           9       0.84      0.90      0.87      6588
          12       0.99      0.93      0.96       188
          14       1.00      1.00      1.00         3
          15       0.99      0.92      0.96       679
          18       0.95      0.88      0.91       380
          19       0.85      0.64      0.73       269
          20       0.97      0.86      0.91       437
          21       0.99      0.96      0.97       466
          22       0.89      0.78      0.83       641
          23       0.80      0.69      0.74        97
          24       0.96      0.95      0.95      1795
          25       0.99      0.96      0.97      2576
          26       0.97      0.90      0.93       351
          27       0.97      0.93      0.95       564
          28       0.96      0.82      0.89       353
          29       0.92      0.79      0.85       307
          30       0.94      0.83      0.88       798
          31       0.82      0.87      0.84       399
          32       0.96      0.96      0.96      1423
          33       1.00      0.98      0.99       922
          34       0.98      0.94      0.96       536
          35       0.97      0.95      0.96      1389
          36       0.98      0.96      0.97      2088
          37       0.98      0.96      0.97      1995
          38       0.98      0.98      0.98      2048
          39       1.00      0.99      1.00      6884
          40       1.00      1.00      1.00      4296
          41       1.00      1.00      1.00       427
          42       1.00      0.99      0.99      1322
          43       1.00      1.00      1.00       616
          44       1.00      1.00      1.00       802
         999       0.99      0.83      0.90      5893

    accuracy                           0.93     66971
   macro avg       0.95      0.90      0.92     66971
weighted avg       0.94      0.93      0.93     66971

We could observe as from the model training that tree models performed better when compared with linear models hence we chose decision tree as our final model.

In [ ]:
from prettytable import PrettyTable
table = PrettyTable()
table.field_names  = ['Model', 'Metric', 'Value']
table.add_row(['KNN Classifier', 'Accuracy',0.7030207104567648 ])
table.add_row(['Logistic regression', 'Accuracy',0.6547908796344687 ])
table.add_row(['SVM Classifier', 'Accuracy',0.6741724029803945 ])
table.add_row(['Decision tree classifier', 'Accuracy', 0.9330755102955011])
table.add_row(['Random forest classifier', 'Accuracy',0.9335383972167057])

print(table)

+--------------------------+----------+--------------------+
|          Model           |  Metric  |       Value        |
+--------------------------+----------+--------------------+
|      KNN Classifier      | Accuracy | 0.7030207104567648 |
|   Logistic regression    | Accuracy | 0.6547908796344687 |
|      SVM Classifier      | Accuracy | 0.6741724029803945 |
| Decision tree classifier | Accuracy | 0.9330755102955011 |
| Random forest classifier | Accuracy | 0.9335383972167057 |
+--------------------------+----------+--------------------+

In [ ]:
def model(train_data,y_train,X_test,y_test):
  # Dropping the duplicate values
  preprocessed_train =  pd.DataFrame()
  preprocessed_test =  pd.DataFrame()
  train_data = train_data.drop_duplicates()
  X_test = X_test.drop_duplicates()
  # # Replacing the missing values with appropriate statistic
  train_data['FinelineNumber'] = train_data['FinelineNumber'].fillna(train_data['FinelineNumber'].mode()[0], inplace = True)
  
  X_test['FinelineNumber'] = X_test['FinelineNumber'].fillna(X_test['FinelineNumber'].mode()[0], inplace = True)
  
  train_data['Upc'] = train_data['Upc'].fillna(train_data['Upc'].mode()[0], inplace = True)
  
  X_test['Upc'] = X_test['Upc'].fillna(X_test['Upc'].mode()[0], inplace = True)
  # train_data['DepartmentDescription'] = train_data['DepartmentDescription'].fillna('OTHER DEPARTMENTS', inplace = True)


  # Here in DepartmentDescription we are combining the categories of similar type, this will make the categories with less count fall under one major category. 

  train_data["DepartmentDescription"] = train_data["DepartmentDescription"].apply(lambda x: str(x).replace("MENSWEAR", "MENS WEAR"))
  train_data["DepartmentDescription"] = train_data["DepartmentDescription"].apply(lambda x: str(x).replace("LADIES SOCKS", "LADIESWEAR"))
  train_data["DepartmentDescription"] = train_data["DepartmentDescription"].apply(lambda x: str(x).replace("PLUS AND MATERNITY", "LADIESWEAR"))
  train_data["DepartmentDescription"] = train_data["DepartmentDescription"].apply(lambda x: str(x).replace("BRAS & SHAPEWEAR", "LADIESWEAR"))
  train_data["DepartmentDescription"] = train_data["DepartmentDescription"].apply(lambda x: str(x).replace("PHARMACY RX", "PHARMACY"))
  train_data["DepartmentDescription"] = train_data["DepartmentDescription"].apply(lambda x: str(x).replace("PHARMACY OTC", "PHARMACY"))
  train_data["DepartmentDescription"] = train_data["DepartmentDescription"].apply(lambda x: str(x).replace("HEALTH AND BEAUTY AIDS", "PHARMACY"))
  train_data["DepartmentDescription"] = train_data["DepartmentDescription"].apply(lambda x: str(x).replace("INFANT CONSUMABLE HARD LINES", "INFANT SECTION"))
  train_data["DepartmentDescription"] = train_data["DepartmentDescription"].apply(lambda x: str(x).replace("INFANT APPAREL", "INFANT SECTION"))
  train_data["DepartmentDescription"] = train_data["DepartmentDescription"].apply(lambda x: str(x).replace("OPTICAL - FRAMES", "OPTICALS"))
  train_data["DepartmentDescription"] = train_data["DepartmentDescription"].apply(lambda x: str(x).replace("OPTICAL - LENSES", "OPTICALS"))
  
  X_test["DepartmentDescription"] = X_test["DepartmentDescription"].apply(lambda x: str(x).replace("MENSWEAR", "MENS WEAR"))
  X_test["DepartmentDescription"] = X_test["DepartmentDescription"].apply(lambda x: str(x).replace("LADIES SOCKS", "LADIESWEAR"))
  X_test["DepartmentDescription"] = X_test["DepartmentDescription"].apply(lambda x: str(x).replace("PLUS AND MATERNITY", "LADIESWEAR"))
  X_test["DepartmentDescription"] = X_test["DepartmentDescription"].apply(lambda x: str(x).replace("BRAS & SHAPEWEAR", "LADIESWEAR"))
  X_test["DepartmentDescription"] = X_test["DepartmentDescription"].apply(lambda x: str(x).replace("PHARMACY RX", "PHARMACY"))
  X_test["DepartmentDescription"] = X_test["DepartmentDescription"].apply(lambda x: str(x).replace("PHARMACY OTC", "PHARMACY"))
  X_test["DepartmentDescription"] = X_test["DepartmentDescription"].apply(lambda x: str(x).replace("HEALTH AND BEAUTY AIDS", "PHARMACY"))
  X_test["DepartmentDescription"] = X_test["DepartmentDescription"].apply(lambda x: str(x).replace("INFANT CONSUMABLE HARD LINES", "INFANT SECTION"))
  X_test["DepartmentDescription"] = X_test["DepartmentDescription"].apply(lambda x: str(x).replace("INFANT APPAREL", "INFANT SECTION"))
  X_test["DepartmentDescription"] = X_test["DepartmentDescription"].apply(lambda x: str(x).replace("OPTICAL - FRAMES", "OPTICALS"))
  X_test["DepartmentDescription"] = X_test["DepartmentDescription"].apply(lambda x: str(x).replace("OPTICAL - LENSES", "OPTICALS"))

# Now applying the pd.get_dummies on DepartmentDescription

  dept_feature = []
  for i in list(pd.get_dummies(train_data[['DepartmentDescription']]).columns):
    dept_feature.append(i)
  
  dept = pd.get_dummies(train_data[['DepartmentDescription']])
  train_data  = pd.concat([train_data, dept],axis = 1 )
# Iterating through dept description columns and grouping by based on Visit number
  for j in dept_feature:
    preprocessed_train[j] = train_data.groupby(['VisitNumber'])[j].sum()
    
  dept_feature = []
  for i in list(pd.get_dummies(X_test[['DepartmentDescription']]).columns):
    dept_feature.append(i)
  
  dept_test = pd.get_dummies(X_test[['DepartmentDescription']])
  X_test  = pd.concat([X_test, dept_test],axis = 1 )

# Iterating through dept description columns and grouping by based on Visit number
  for j in dept_feature:
    preprocessed_test[j] = X_test.groupby(['VisitNumber'])[j].sum()
    
  preprocessed_test.drop('DepartmentDescription_nan',axis=1,inplace=True)

  preprocessed_train.drop('DepartmentDescription_nan',axis=1,inplace=True)
  
  #Created a new column 'Return' which marks as 1 if scan count is negative
  train_data['Return'] = train_data['ScanCount']
  train_data.loc[train_data['ScanCount'] > 0, 'Return'] = 0
  train_data.loc[train_data['ScanCount'] < 0, 'Return'] = 1

  # Aggregating based on VisitNumber for all the columns 
  #https://www.tutorialspoint.com/python_pandas/python_pandas_groupby.htm
  Upc = train_data.groupby(['VisitNumber'])['Upc'].count()
  preprocessed_train['Upc'] = Upc
  FinelineNumber = train_data.groupby(['VisitNumber'])['FinelineNumber'].count()
  preprocessed_train['FinelineNumber'] = FinelineNumber
  Return = train_data.groupby(['VisitNumber'])['Return'].max()
  preprocessed_train['Return'] = Return
  Weekday = train_data.groupby(['VisitNumber'])['Weekday'].max()
  preprocessed_train['Weekday'] = Weekday
  trip = train_data
  trip['Trip_type'] = y_train
  TripType = trip.groupby(['VisitNumber'])['Trip_type'].max()
  preprocessed_train['TripType'] = TripType
  ScanCount = train_data.groupby(['VisitNumber'])['ScanCount'].max()
  preprocessed_train['ScanCount'] = ScanCount
  
  


  #Created a new column 'Return' which marks as 1 if scan count is negative
  X_test['Return'] = X_test['ScanCount']
  X_test.loc[X_test['ScanCount'] > 0, 'Return'] = 0
  X_test.loc[X_test['ScanCount'] < 0, 'Return'] = 1

  Upc = X_test.groupby(['VisitNumber'])['Upc'].count()
  preprocessed_test['Upc'] = Upc
  FinelineNumber = X_test.groupby(['VisitNumber'])['FinelineNumber'].count()
  preprocessed_test['FinelineNumber'] = FinelineNumber
  Return = X_test.groupby(['VisitNumber'])['Return'].max()
  preprocessed_test['Return'] = Return
  Weekday = X_test.groupby(['VisitNumber'])['Weekday'].max()
  preprocessed_test['Weekday'] = Weekday
  trip_test = X_test
  trip_test['Trip_type'] = y_test
  TripType = trip_test.groupby(['VisitNumber'])['Trip_type'].max()
  preprocessed_test['TripType'] = TripType
  ScanCount = X_test.groupby(['VisitNumber'])['ScanCount'].max()
  preprocessed_test['ScanCount'] = ScanCount
  
  preprocessed_train['Weekday'] = preprocessed_train['Weekday'].apply(lambda x: str(x).replace("Monday", '1'))
  preprocessed_train['Weekday'] = preprocessed_train['Weekday'].apply(lambda x:str(x).replace("Tuesday",'2'))
  preprocessed_train['Weekday'] = preprocessed_train['Weekday'].apply(lambda x:str(x).replace("Wednesday",'3'))
  preprocessed_train['Weekday'] = preprocessed_train['Weekday'].apply(lambda x:str(x).replace("Thursday",'4'))
  preprocessed_train['Weekday'] = preprocessed_train['Weekday'].apply(lambda x:str(x).replace("Friday",'5'))
  preprocessed_train['Weekday'] = preprocessed_train['Weekday'].apply(lambda x:str(x).replace("Saturday",'6'))
  preprocessed_train['Weekday'] = preprocessed_train['Weekday'].apply(lambda x:str(x).replace("Sunday",'7'))
  
  preprocessed_test['Weekday'] = preprocessed_test['Weekday'].apply(lambda x: str(x).replace("Monday", '1'))
  preprocessed_test['Weekday'] = preprocessed_test['Weekday'].apply(lambda x:str(x).replace("Tuesday",'2'))
  preprocessed_test['Weekday'] = preprocessed_test['Weekday'].apply(lambda x:str(x).replace("Wednesday",'3'))
  preprocessed_test['Weekday'] = preprocessed_test['Weekday'].apply(lambda x:str(x).replace("Thursday",'4'))
  preprocessed_test['Weekday'] = preprocessed_test['Weekday'].apply(lambda x:str(x).replace("Friday",'5'))
  preprocessed_test['Weekday'] = preprocessed_test['Weekday'].apply(lambda x:str(x).replace("Saturday",'6'))
  preprocessed_test['Weekday'] = preprocessed_test['Weekday'].apply(lambda x:str(x).replace("Sunday",'7'))


  #Random Forest
  y_train = preprocessed_train['TripType']
  preprocessed_train = preprocessed_train.drop(['TripType'],axis = 1)

  y_test = preprocessed_test['TripType']
  preprocessed_test = preprocessed_test.drop(['TripType'],axis = 1)
  
  rf = RandomForestClassifier(n_estimators=100)
  rf = rf.fit(np.asarray(preprocessed_train), np.asarray(y_train))

  

  return rf, preprocessed_test, preprocessed_train, y_train, y_test

In [ ]:
import pickle
#Train test split
train, test = train_test_split(train_data, test_size = 0.3)

y_train = train['TripType']
train_data = train.drop('TripType',axis = 1)
y_test = train['TripType']
X_test = train.drop('TripType',axis = 1)
model_rf, preprocessed_test, preprocessed_train, y_tr, y_te  = model(train_data,y_train,X_test,y_test)

In [ ]:
pickle.dump(model_rf, open('/content/drive/MyDrive/Assignments/Case_study_1/model_rf.pkl', 'wb'))

In [ ]:
pickled_model = pickle.load(open('/content/drive/MyDrive/Assignments/Case_study_1/model_rf.pkl', 'rb'))

In [ ]:
def final_fun_1(pickled_model, preprocessed_test, preprocessed_train, y_tr, y_te ):
  predictions_rf = pickled_model.predict(np.asarray(preprocessed_test))
  return predictions_rf

In [ ]:
def final_fun_2(pickled_model, preprocessed_test, preprocessed_train, y_tr, y_te ):
  predictions_rf = pickled_model.predict(np.asarray(preprocessed_test))
  return accuracy_score(y_te,predictions_rf)

In [ ]:
trip_type_predictions = final_fun_1(pickled_model, preprocessed_test, preprocessed_train, y_tr, y_te )
trip_type_predictions

array([999,   9,  26, ...,  39,  39,   8])

In [ ]:
accuracy_rf= final_fun_2(pickled_model, preprocessed_test, preprocessed_train, y_tr, y_te )
accuracy_rf

0.8613874911773411

Classification Report:

In [ ]:
print(classification_report(y_te, trip_type_predictions))

              precision    recall  f1-score   support

           3       0.79      0.90      0.84      3160
           4       0.96      0.25      0.40       296
           5       0.83      0.92      0.87      3967
           6       0.77      0.84      0.80      1072
           7       0.87      0.83      0.85      5229
           8       0.66      0.85      0.75     10228
           9       0.71      0.80      0.76      7743
          12       0.97      0.85      0.91       262
          14       1.00      1.00      1.00         4
          15       0.95      0.78      0.86       961
          18       0.94      0.75      0.83       525
          19       0.89      0.52      0.66       324
          20       0.91      0.76      0.82       623
          21       0.95      0.86      0.90       623
          22       0.78      0.70      0.74       816
          23       0.71      0.66      0.69       124
          24       0.94      0.86      0.90      2511
          25       0.94      0.89      0.91      3658
          26       0.95      0.78      0.86       476
          27       0.97      0.84      0.90       754
          28       0.88      0.76      0.81       471
          29       0.91      0.65      0.76       410
          30       0.90      0.70      0.79      1012
          31       0.71      0.89      0.79       530
          32       0.90      0.93      0.92      1898
          33       0.95      0.87      0.91      1308
          34       0.94      0.87      0.90       703
          35       0.88      0.79      0.83      1994
          36       0.92      0.85      0.88      2968
          37       0.94      0.90      0.92      2777
          38       0.94      0.86      0.89      2891
          39       0.97      0.94      0.95      9872
          40       1.00      1.00      1.00      6130
          41       0.99      0.93      0.96       581
          42       0.99      0.94      0.96      1851
          43       0.98      0.91      0.95       870
          44       1.00      0.99      1.00      1187
         999       0.96      0.76      0.85      7033

    accuracy                           0.86     87842
   macro avg       0.90      0.82      0.85     87842
weighted avg       0.87      0.86      0.86     87842